<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>02-form-value-binding</title>

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <div id="app">

        <!------- Checkbox ----------->
        <input type="checkbox" v-model="checkbox" v-bind:true-value="a" v-bind:false-value="b">

        <!------- Radio ----------->
        <!--<input type="radio" v-model="radio" v-bind:value="a">-->
        <input type="radio" v-model="radio" v-bind:value="[1, 2, 3, 4, 5]">

        <!------- Select ----------->
        <select v-model="select">
            <option v-bind:value="b">David</option>
        </select>
        
        <hr>
        <pre>
            {{$data}}
        </pre>

    </div>

    <script src="https://unpkg.com/vue@2.2.6"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="js/main.js"></script>
</body>
</html>