<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>12 Components exercise</title>

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <main>
        <usuarios>
            <h1>Usuarios de mi startup</h1>
        </usuarios>

        <pre>{{ $data }}</pre>
    </main>

    <template id="usuarios-template">
        <div>
            <section class="cabecera">
                <slot></slot>
                <input type="search" placeholder="Filtrar usuarios" v-model="busqueda">
            </section>
            <hr>
            <usuario :datos="usuario" v-for="usuario in filtrarUsuarios"></usuario>
        </div>
    </template>

    <template id="usuario-template">
        <div class="usuario">
            <img align="left" :src="datos.foto" :alt="datos.nombre">
            <section>
                <h1>{{ datos.nombre }}</h1>
                <small>{{ datos.correoe }}</small>
            </section>
        </div>
    </template>

    <script src="https://unpkg.com/vue@2.2.6"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>